@if (!complete) {
  <nz-spin nzTip="Cargando" nzSize="large"> </nz-spin>
  }@else {

  <button nz-button [nzSize]="'large'" nzType="primary" (click)="openCreate()">
    Crear
  </button>
  <app-form-product (createdProduct)="loadProduct()"></app-form-product>

  <nz-table #basicTable [nzData]="product" [nzPageSize]="10" [nzScroll]="{ y: '300px' }">
    <thead>
      <tr>
        <th>Id</th>
        <th>Nombre</th>
        <th>Precio</th>
        <th>Categoria</th>
        <th>Acción</th>
      </tr>
    </thead>
    <tbody>
      @for (data of basicTable.data; track data.id) {
      <tr>
        <td>{{ data.id }}</td>
        <td>{{ data.name }}</td>
        <td>{{ data.price }}</td>
        <td>{{ data.category.name }}</td>
        <td>
          <nz-space>
            <button *nzSpaceItem nz-button icon nzType="primary" nzShape="circle">
              <span nz-icon nzType="edit" nzTheme="outline"></span>
            </button>
            <button *nzSpaceItem nz-button nzType="default" nzDanger nzShape="circle" (click)="deleteProduct(data.id)">
              <span nz-icon nzType="delete" nzTheme="outline"></span>
            </button>
            <button *nzSpaceItem nz-button nzType="default"  nzShape="circle">
              <span nz-icon nzType="info-circle" nzTheme="outline"></span>
            </button>
          </nz-space>
        </td>
      </tr>
      }
    </tbody>
  </nz-table>

  }

