<nz-layout class="app-layout">
  <nz-sider
    class="menu-sidebar"
    nzCollapsible
    nzWidth="256px"
    nzBreakpoint="md"
    [(nzCollapsed)]="isCollapsed"
    [nzTrigger]="null"
  >
    <div class="sidebar-logo">
      <a routerLink="/home" target="_blank">
        <span nz-icon nzType="inbox" nzTheme="outline"></span>
        <h1>InventApp</h1>
      </a>
    </div>
    <ul nz-menu nzTheme="dark" nzMode="inline">
      <li nz-menu-item routerLink="home">
        <span nz-icon nzType="pie-chart"></span>
        <span>Dashboard</span>
      </li>
      <li nz-menu-item routerLink="/sale">
        <span nz-icon nzType="shopping" nzTheme="outline"></span>
        <span>Ventas</span>
      </li>
      <li nz-menu-item routerLink="/product">
        <span nz-icon nzType="product" nzTheme="outline"></span>
        <span>Productos</span>
      </li>
      <li nz-menu-item routerLink="/supplier">
        <span nz-icon nzType="usergroup-delete" nzTheme="outline"></span>
        <span>Proveedores</span>
      </li>
      <li nz-menu-item routerLink="/order">
        <span nz-icon nzType="import" nzTheme="outline"></span>
        <span>Pedidos</span>
      </li>
      <li nz-button nz-flex nzAlign="center" nzJustify="center">
        <button nz-button nzType="primary" nzDanger (click)="logout()">
          Logout
        </button>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <div
        class="app-header"
        nz-flex
        nzAlign="center"
        nzJustify="space-between"
      >
        <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
          <span
            class="trigger"
            nz-icon
            [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
          ></span>
        </span>
        <app-menu-notification />
      </div>
    </nz-header>
    <nz-content>
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>
