<div class="container-order">
  <app-form-order [isVisible]="isVisible" (isClosed)="close($event)"></app-form-order >
  <button nz-button [nzSize]="'large'" nzType="primary" (click)="openCreate()" >
    Crear
  </button>
  <nz-table #basicTable [nzData]="order">
    <thead>
      <tr>
        <th>Id</th>
        <th>Fecha llegada</th>
        <th>Fecha</th>
        <th>Acción</th>
      </tr>
    </thead>
    <tbody>
      @for (data of basicTable.data; track data.id) {
      <tr>
        <td>{{ data.id }}</td>
        <td>{{ data.date }}</td>
        <td>{{ data.dateArrival }}</td>
        <td>
          <nz-space>
            <button
              *nzSpaceItem
              nz-button
              icon
              nzType="primary"
              nzShape="circle"
            >
              <span nz-icon nzType="edit" nzTheme="outline"></span>
            </button>
            <button
              *nzSpaceItem
              nz-button
              nzType="default"
              nzDanger
              nzShape="circle"
            >
              <span nz-icon nzType="delete" nzTheme="outline"></span>
            </button>
            <button *nzSpaceItem nz-button nzType="default" nzShape="circle">
              <span nz-icon nzType="info-circle" nzTheme="outline"></span>
            </button>
          </nz-space>
        </td>
      </tr>
      }
    </tbody>
  </nz-table>
</div>
