<div nz-row class="sale-container" nzGutter="15">
  <app-list-products-modal></app-list-products-modal>
  <div nz-col nzSpan="10">
    <div  nz-flex nzAlign="center" nzGap="10px"  nzVertical="vertical" nzJustify="center" class="total-container">
      <h2>Total</h2>
      <h1>$ 4,500</h1>
      <button nz-button nzType="primary" class="btn-generar" nzSize="large">Generar</button>
    </div>

    <button nz-button nzType="primary" (click)="redirectSaleList()">Ventas</button>
  </div>
  <div nz-col nzFlex="auto">
    <button nz-button nzType="primary" (click)="open()">Agregar</button>
    <nz-table #basicTable [nzData]="products">
      <thead>
        <tr>
          <th>Producto</th>
          <th>Precio</th>
        </tr>
      </thead>
      <tbody>
        @for (data of basicTable.data; track data.id) {
        <tr>
          <td>{{ data.name }}</td>
          <td>{{ data.price }}</td>
        </tr>
        }
      </tbody>
    </nz-table>
  </div>
</div>
